@font-face {
  src: url('../fonts/NanumGothicLight.otf') format('otf'),
  url('../fonts/NanumGothicLight.ttf') format('ttf');
  font-family: 'NanumGothic';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url('../fonts/NanumGothic.otf') format('otf'),
  url('../fonts/NanumGothic.ttf') format('ttf');
  font-family: 'NanumGothic';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('../fonts/NanumGothicBold.otf') format('otf'),
  url('../fonts/NanumGothicBold.ttf') format('ttf');
  font-family: 'NanumGothic';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('../fonts/NanumGothicExtraBold.otf') format('otf'),
  url('../fonts/NanumGothicExtraBold.ttf') format('ttf');
  font-family: 'NanumGothic';
  font-weight: 700;
  font-style: normal;
}


